/* Full-page background image */
html {
	background: url(../img/bride-right-blur-1280x800.png) #fdfdfc no-repeat right top fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
  	     -o-background-size: cover;
 	        background-size: cover;
}

body {
	background-color: transparent;
	padding-top: 70px; // Added to compensate for navbar-fixed-top on nav
}

h2, h3, h4 {
	font-weight: 300;
}

.trayOuter {
	margin-top: 150px;
}

.trayOuter {
	background-image: -moz-linear-gradient(rgba(38,38,38,0.1) 0,rgba(184,184,184,0.1) 100%);
	background-image: -webkit-linear-gradient(bottom,rgba(184, 184, 184, 0.1),rgba(38, 38, 38, 0.1));
	border-radius: 8px;
	border: 1px solid;
	border-color: #C5C5C5;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
	max-width: 540px;
}

.trayInner {
	background-color: #FFF;
	margin: 5px;
	padding: 24px 30px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #E5E5E5 #D9D9D9 #CCC;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}